body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondry-bg-color);
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list__container{
  width: 40%;
  min-width: 500px;
}