@import url(variables.css);

.todo__item{
  display: flex;
  background-color: var(--primary-bg-color);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.todo__content{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__icon svg{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.todo__icon--edit svg{
  fill:white;
  background-color: rgb(56, 135, 240);
  
}

.todo__icon--delete svg{
  fill:white;
  background-color: rgb(202, 65, 65);
}